<ion-view view-title="Review">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-blue" ng-click="refreshLists()">
      Refresh
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="horizon-centre" ng-show="emptyBuffers">
      <div class="pad"></div>
      <span>Nothing to review!</span>
      <div class="pad"></div>
      <img class="smashing" src="img/smashing.png"/>
    </div>
    <div ng-if="sendingMembers.length > 0">
      <div class="item item-divider horizon-centre">Uploading</div>
      <ion-list>
        <ion-item ng-repeat="member in sendingMembers">
          <div class="member-name">
            {{member.first_name}} {{member.last_name}}
          </div>
          <div class="member-email">
            {{member.email}}
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="tempMembers.length > 0">
      <div class="item item-divider horizon-centre">
        <span>
          Ready for Upload
        </span>
        <span class="button-blue review-upload" ng-click="retryUpload()">
          Upload
        </span>
      </div>
      <ion-list>
        <ion-item ng-repeat="member in tempMembers">
          <div class="member-name">
            {{member.first_name}} {{member.last_name}}
          </div>
          <div class="member-email">
            {{member.email}}
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="dirtyMembers.length > 0">
      <div class="item item-divider horizon-centre">Dirty</div>
      <ion-list>
        <ion-item ng-repeat="member in dirtyMembers">
          <div class="member-name">
            {{member.first_name}} {{member.last_name}}
          </div>
          <div class="member-email">
            {{member.email}}
          </div>
          <ion-option-button class="button-assertive" ng-click="deleteDirty(member)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
