<ion-view view-title="Review">
  <ion-content>
    <div class="horizon-centre" ng-show="emptyBuffers">
      <div class="pad"></div>
      <span>Nothing to review!</span>
      <div class="pad"></div>
      <img class="smashing" src="img/smashing.png"/>
    </div>
    <div ng-show="sendingMembers[0]">
      <div class="horizon-centre">Uploading</div>
      <ion-list>
        <ion-item ng-repeat="member in sendingMembers">
          <div class="member-name">
            {{member.first_name}} {{member.last_name}}
          </div>
          <div class="member-email">
            {{member.email}}
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="tempMembers[0]">
      <div class="horizon-centre">Ready for Upload</div>
      <ion-list>
        <ion-item ng-repeat="member in tempMembers">
          <div class="member-name">
            {{member.first_name}} {{member.last_name}}
          </div>
          <div class="member-email">
            {{member.email}}
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="dirtyMembers[0]">
      <div class="horizon-centre">Dirty</div>
      <ion-list>
        <ion-item ng-repeat="member in dirtyMembers">
          <div class="member-name">
            {{member.first_name}} {{member.last_name}}
          </div>
          <div class="member-email">
            {{member.email}}
          </div>
          <ion-option-button class="button-assertive" ng-click="deleteDirty(member)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
