/* Empty. Add your own CSS if you like */


/*Makes login prompt fullscreen on all devices*/
.modal{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.pad {
  min-height: 50px;
}

.small-pad {
  min-height: 25px;
}
.horizon-centre {
  text-align: center;
}

.member-name {
  float: left;
}

.member-email {
  float: right;
}

.signup-logo {
  width: 50%;
}

.menu-logo {
  height: 100%;
  margin-left: 85px;
}

.smashing {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

