/* Empty. Add your own CSS if you like */


/*Makes login prompt fullscreen on all devices*/
.modal{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.pad {
  min-height: 50px;
}

.horizonCentre {
  text-align: center;
}


/*Temporary styling so that my eyes don't burn*/

.member-name {
  float: left;
}

.member-email {
  float: right;
}
